body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(210,139,164,1) 28%, rgba(136,49,74,1) 100%);
}

.container, .desc {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.container, .desc, iframe {border-radius: 25px;}
.desc, iframe {
  -webkit-box-shadow: 0px 5px 25px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 25px -1px rgba(0,0,0,0.5);
}

iframe {
  height: 75vh; max-height: 800px; width: 70vw; max-width: 1000px;
  border: none;
  /* border: 5px solid #c36782;
  box-sizing: border-box; */
}

.heading {
  color: #fffdf7;
  font-size: 28pt;
  margin-top: 60px;
  text-shadow: 3px 3px #503d2b;
}
.subheading {
  color: #fffdf7;
  font-size: 23pt;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #503d2b;
}

.nomargin {
  margin-top: 0px;
}

div.nomargin {
  margin: 0px 11vw 30px 11vw;
}

.desc {
  background-color: #fffdf7;
  margin: 30px 11vw 30px 11vw;
  width: 70vw;
  max-width: 1000px;
  overflow: hidden;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
}

p {
  font-size: 13pt;
  color: #503d2b;
  line-height: 1.5;
}

footer p {
  color: #fffdf7;
}

.pageBtn {
  background-color: #f5d0e0;
  border-radius: 3.125em;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover.pageBtn {
  background-color: #e0b4c6;
  transition: all 0.5s ease 0s;
}
a.pageBtn:hover > p {
  color: #000000;
  transition: all 0.5s ease 0s;
}
.tooltip {
  position:relative;
  border-bottom:1px dashed #000;
  cursor: pointer;
  white-space: pre;
}

.tooltip:before {
  content: attr(data-text);
  position:absolute;
  font-size: 10pt;
  transform:translateY(-50%);  top: 450%;
  left:-15%;
  width:200px;
  height:100px;
  padding:10px;
  border-radius:10px;
  color: #fff;
  text-align:center;
  display:none;
  background: rgba(124, 108, 111, 0.85);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover:before {
  display:block;
}
.tooltip:after {
  content: "";
  position:absolute;

  left:45%;
  top: 122%;
  transform:translateY(-50%);
  border:10px solid rgba(124, 108, 111, 0.85);
  border-color: transparent transparent rgba(124, 108, 111, 0.85) transparent;
  display:none;
}
.tooltip:hover:before, .tooltip:hover:after {
  display:block;white-space: normal;
}
